<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Hospitals</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>  
        <filter-name>loginFilter</filter-name>  
   <!-- 这里的filterclass是你创建的fitler类   -->
        <filter-class>com.aaa.util.Filter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>loginFilter</filter-name>  
  <!-- 定义规则   -->
        <url-pattern>*.jsp</url-pattern>  
    </filter-mapping>  
    <!-- 不拦截静态文件 -->
    <!-- <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/hospital/css/*</url-pattern>
        <url-pattern>/hospital/images/*</url-pattern>
        <url-pattern>/hospital/js/*</url-pattern>
    </servlet-mapping> -->
</web-app>